body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.error {
    color: red;
}

p {
    color: green;
    text-align: center;
}

.back-button {
    text-align: center;
    margin-top: 20px;
}

.back-button a {
    background-color: #003366;
    transition: background-color 0.3s ease;
}

.back-button a:hover {
    background-color: #003366;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

option {
    padding: 12px;
    font-size: 17.5px;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    border-radius: 20px;
}

option:hover {
    background-color: #ddd !important;
    cursor: pointer;
}

#positionSelect {
    width: 100%;
}

#courseSelect {
    width: 100%;
}

.select-container {
    display: flex;
    justify-content: space-between;
}

.select-wrapper select {
    width: 100%;
}
